<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>sign in</title>
</head>
<body>
<form th:action="@{/perform_login}" method="post">
    <p class="fw-normal">Please sign in</p>
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username and password.
        </div>
    </div>
    <div th:if="${param.logout}" class="alert alert-danger">
        You have been logged out.
    </div>
    <div class="form-control">
        <input type="text" placeholder="Your e-mail:" name="username">
    </div>
    <div class="form-control">
        <input type="password" placeholder="Your password:" name="password">
    </div>
    <div class="form-control">
        <input type="checkbox" value="remember-me"> Remember me
    </div>
    <div class="form-control">
        <button class="button" type="submit">Submit</button>
    </div>
</form>
</body>
</html>